.container_pd {
  width: 100vw;
  height: 100vh;
  /* background-color: black; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_background_pd img {
  width: 180px;
  height: 180px;
  left: 54%;
  bottom: 69%;
  position: fixed;
  opacity: 0.2;
}
/* @media (min-width: 720px) {

  .container_main_pd {
    height: 280px;
  }
} */

.container_main_pd {
  width: 30rem;
  height: 95%;
  /* background-color: aquamarine; */
  display: flex;

  align-items: center;
  flex-direction: column;
}

.main_img_pd {
  width: 100%;
  height: 15rem;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main_img_pd_div {
  width: 50%;
  height: auto;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
}
.main_img_pd img {
  width: 200px;
  height: 200px;
  margin-top: 3.6rem;
  position: absolute;
}

.container_header_pd {
  width: 100%;
  height: 3rem;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container_nav_pd {
  width: 50%;
  height: 100%;
  display: flex;
  /* background-color: blue; */
  align-items: center;
  gap: 14px;
  margin: 12px;
}

.container_numeral_pd {
  margin: 12px;
  font-size: 1.1rem;
}

.container_nav_pd button {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}

.container_nav_pd button:hover {
  opacity: 0.5;
}
.about_poke_pd {
  width: 100%;
  height: 700px;
  z-index: 5;
  background-color: #e0e0e0;
  border-radius: 6px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.about_type_pd {
  width: 100%;
  height: 2rem;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  gap: 12px;
}

@media (min-height: 720px) {
  .main_img_pd img {
    margin-top: 2rem;
  }
}

/* Estos estilos corresponden a la card Type */

.cardType {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 1.5rem;
  padding: 8px;
  border-radius: 1.8rem;
  background-color: rgb(128, 131, 131);
}

.about_pd {
  width: 100%;
  height: 2rem;
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_pd strong {
  font-size: 1.1rem;
}

.grass {
  background-color: #74cb48;
  color: #74cb48;
}

.fire {
  background-color: #f57d31;
  color: #f57d31;
}

.water {
  background-color: #6493eb;
  color: #6493eb;
}

.electric {
  background-color: #f9cf30;
  color: #f9cf30;
}

.poison {
  background-color: #a43e9e;
  color: #a43e9e;
}
.normal {
  background-color: #aaa67f;
  color: #aaa67f;
}
.flying {
  background-color: #a891ec;
  color: #a891ec;
}
.bug {
  background-color: #a7b723;
  color: #a7b723;
}
.fighting {
  background-color: #c12239;
  color: #c12239;
}
.ground {
  background-color: #dec16b;
  color: #dec16b;
}
.rock {
  background-color: #b69e31;
  color: #b69e31;
}
.dark {
  background-color: #75574c;
  color: #75574c;
}
.dragon {
  background-color: #7037ff;
  color: #7037ff;
}
.fairy {
  background-color: #e69eac;
  color: #e69eac;
}
.steel {
  background-color: #b7b9d0;
  color: #b7b9d0;
}
.ghost {
  background-color: #70559b;
  color: #70559b;
}
.psychic {
  background-color: #fb5584;
  color: #fb5584;
}
.ice {
  background-color: #9ad6df;
  color: #9ad6df;
}

.cardType p {
  color: #fff;
}

.container_numeral_pd p {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.container_nav_pd strong {
  font-size: 24px;
  color: #fff;
}

.about_props_container_pd {
  width: 100%;
  height: 5rem;
  display: flex;
  margin-top: 4px;
  margin-bottom: 10px;
}

.about_props_pd_first {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgb(167, 167, 167);
  gap: 8px;
}

.about_props_pd_first img,
.about_props_pd_second img {
  width: 22px;
  height: 22px;
}

.about_props_pd_first p,
.about_props_pd_first span,
.about_props_pd_second p,
.about_props_pd_second span {
  font-size: 13px;
  color: rgb(107, 107, 107);
}

.about_props_pd_second {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.container_state_pd {
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 6px;
}
.container_state_title_pd {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_state_title_pd p {
  font-weight: 700;
}

.container_line_title {
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  border-right: 1px solid rgb(167, 167, 167);
}

.container_line_title p {
  font-size: 12px;
  font-weight: 700;
}

.container_line {
  width: 100%;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 6px;
}

.container_line span {
  width: 22px;
  color: rgb(167, 167, 167);
  font-size: 14px;
}
.container_line_main {
  width: 277px;
  height: 0.5rem;
  position: relative;
}
.container_line_main_first {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  opacity: 0.5;
  position: absolute;
  z-index: 2;
}

.container_line_second {
  width: 50%;
  height: 100%;
  position: absolute;
  border-radius: 8px;
  opacity: 1;
  z-index: 3;
}
