.container_home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_div_home_dark {
  background-color: var(--darkTheme);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.container_div_home_light {
  background-color: var(--lightTheme);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container_div_home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 82%;
  gap: 0.75rem;
  padding: 0.625rem;
  border-radius: 0.375rem;
  /* margin-top: 1.4rem; */
  box-shadow: inset 0px 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
  margin-bottom: 1.875rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.darkTheme {
  background-color: var(--darkThemeThings);
}

.lightTheme {
  background-color: var(--lightThemeThings);
}

.lightTheme_btn {
  background-color: var(--lightTheme);
}
.darkTheme_btn {
  background-color: var(--darkTheme);
}
.btn_loadMore {
  width: 10rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  border-radius: 2px 8px;
  transition: all 0.5s;
}

.container_btn_loadMore {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in-out;
}

.container_btn_loadMore button {
  width: 10rem;
  cursor: pointer;
}

.container_btn_loadMore button:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  opacity: 0.5;
}

.containerSectionType {
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerSectionType section {
  width: 85%;
  display: flex;
  gap: 8px;
  align-items: center;
  overflow-y: none;
  overflow-x: scroll;
  white-space: nowrap;
  margin-bottom: 0.8rem;
  padding: 6px;
}

body,
.containerSectionType section {
  --sb-track-color: #232e333a;
  --sb-thumb-color: #eef7f1bb;
  --sb-size: 5px;
}

body::-webkit-scrollbar,
.containerSectionType section::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

body::-webkit-scrollbar-track,
.containerSectionType section::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb,
.containerSectionType section::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  body,
  .containerSectionType section {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
